<div class="w3-bar w3-black w3-card w3-center w3-round">

    {% if 'user_name' in session %}
    <a href="/dashboard" class="w3-bar-item w3-button">Dashboard</a>

    <div class="w3-dropdown-hover">
        <button class="w3-button">Report &#11206;</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="{{ url_for('tracker.tracker_report', action='by_steps') }}" class="w3-bar-item w3-button">By
                Steps</a>
            <a href="{{ url_for('tracker.tracker_report', action='by_distance') }}" class="w3-bar-item w3-button">By
                Distance</a>
            <a href="{{ url_for('tracker.tracker_report', action='by_calories') }}" class="w3-bar-item w3-button">By
                Calories</a>
            <a href="{{ url_for('tracker.tracker_report', action='by_heart_rate') }}" class="w3-bar-item w3-button">By
                Heart Rate</a>
            <a href="{{ url_for('tracker.tracker_report', action='by_duration') }}" class="w3-bar-item w3-button">By
                Exercise Duration</a>
        </div>
    </div>

    <a href="{{ url_for('tracker.add_exercise_tracker') }}" class="w3-bar-item w3-button">Add Exercise Tracker</a>
    {% else %}
    <a href="/login" class="w3-bar-item w3-button">Login</a>
    {% endif %}

    {% if 'user_name' not in session %}
    <a href="/signup" class="w3-bar-item w3-button w3-right">Signup</a>
    {% else %}
    <a href="/logout" class="w3-bar-item w3-button w3-right">Logout</a>
    <a href="/profile" class="w3-bar-item w3-button w3-right">{{user}}</a>
    {% endif %}

</div>